body {
    background-color: white;
    color: black;
    font-family: 'Open Sans';
	text-align: center;
}

h1>i.fa-gamepad {
    /*El estilo del icono del título*/
    font-size: 40px;
    color: red;
}

#tipoJuego {
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

#pvp {
    width: 150px;
    height: 35px;
    float: left;
}

#pve {
    width: 150px;
    height: 35px;
    float: right;
}

#facilDificil {
    visibility: hidden;
    width: 500px;
    height: 50px;
    float: right;
}

#botonPveFacil,
#botonPveDificil {
    width: 150px;
    height: 35px;
    float: right;
}

#progress {
    visibility: hidden;
    margin: 0 auto;
}

.inicio {
    width: 0%;
}

.final {
    width: 100%;
}

.animacion {
    transition: all 2s ease .5s;
}

table {
	visibility: hidden;
	border-collapse: collapse;
	margin: 0 auto;
	width: 300px;
	font-family: 'Open Sans';
/* 	position: absolute;
	left: 50%;
	top: 50px; */
}

td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align: center;
	vertical-align: middle;
	font-size: 70px;
	cursor: pointer;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 220px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

#vencedor {
    visibility: hidden;
    color: red;
}

#reinicio {
    visibility: hidden;
}